# Application
APP_ENVIRONMENT=development
LOG_ENVIROMENT=INFO
HOST=localhost
PORT=8000
WORKERS=3

# Database (PostgreSQL)
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=fight_base
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# MongoDB (Opcional/Futuro)
MONGO_USER=root
MONGO_PASSWORD=pass
MONGO_PORT=27017

# Security
SECRET_KEY=sua-chave-secreta-super-segura-aqui-mude-em-producao
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Admin Integrado
ADMIN_DEFAULT_EMAIL=admin@mail.com
ADMIN_DEFAULT_PASSWORD=pass@word
