services:

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: backend
    ports:
      - "8000:8000"
    depends_on:
      - database
    networks:
      - fight_base_network
    env_file: ".env"
    restart: on-failure
    volumes:
      - .:/code

  database:
    image: postgres:latest
    container_name: fight_base_db
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: fight_base
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgressql/database
    networks:
      - fight_base_network

  redis:
    image: redis:latest
    command: redis-server
    volumes:
      - redis:/var/lib/redis
      - redis-config:/usr/local/etc/redis/redis.conf
    ports:
      - 6379:6379
    networks:
      - redis-network

  redis-commander:
    image: rediscommander/redis-commander:latest
    environment:
      - REDIS_HOSTS=local:redis:6379
      - HTTP_USER=root
      - HTTP_PASSWORD=root
    ports:
      - 8081:8081
    networks:
      - redis-network
    depends_on:
      - redis

volumes:
  dbdata:
  redis:
  redis-config:
  postgres_data:

networks:
  fight_base_network:
  redis-network:
    driver: bridge
